header
    .container
        .row.justify-content-center.justify-content-md-between.align-items-center.py-4
            .col-6.col-md-4
                a(href="/")
                    img(src="/carpeta/imagen", alt="")
            .col-6.col-md-8
                nav.nav.justify-content-center.justify-content-md-end
                    a(href="/mascotas" class="nav-link") mascotas
                    a(href="/usuarios" class="nav-link") usuarios
                    a(href="/registro" class="nav-link") registro
                    a(href="/login" class="nav-link")    login